.messages_heading {
    background-color: black;
    color: white;
    font-weight: bold;
}

.messages_container {
    margin-top: 5em;
    height: 35em;
}


.messages_username {
    font-weight: bold;
    text-align: left;
}